.noPadding{
    padding: 0mm 0mm 0mm 0mm;
}

.body-home{
    margin-top: 5mm;
    margin-bottom: 5mm;
    padding-top: 15mm;
    padding-bottom: 15mm;
}

.billed-statements{
    background-color: whitesmoke;
    color: black;
    border-radius: 15px;
    padding-bottom: 0mm!important;
    margin-bottom: 8mm!important;
}
.billed-statements:hover{
    background-color: white;
}
.bill-row{
    padding-bottom: 2mm;
    padding-top: 2mm;
}
.label-bill{
    font-weight: bold;
    min-width: fit-content;
}

.bill-value-name{
    /* min-width: fit-content; */
    padding-right: unset;

}
.unBilled-statements{
    background-color: whitesmoke;
    color: black;
    border-radius: 15px;
    padding-bottom: 0mm!important;
    margin-bottom: 8mm!important;
}
.transaction-block{
    border-radius: 10px;
    padding-top: 5mm;
    padding-bottom: 2mm;
    margin-top:5mm ;
}
.buttons-transact{
    text-align: center;
}
.bttn-send{
    margin-right: 5mm;
}
.bttn-send:hover{
    font-weight: bold;
}
.home-main-body{
    min-height: 90vmin;
}