.main-customers-start{
    background-color: wheat;
}
.bi{
    color: whitesmoke;
    opacity: 0.5;
}
.bi:hover{
    color: white;
    opacity: 1;
}
.bi:visited{
    opacity: 0;
}
.bi:active{
    opacity: 0;
    transition-duration: 10s;
}
td,th{
    padding-left: 2mm!important;
    padding-right: 2mm!important;
    width: max-content;
}
.caption-table-customers{
    border-radius: 10px;
    text-align:center;
    color: blueviolet;
    border :1px solid blue;
    padding: 1mm;
    margin-top: 5mm;
}
.search-label{
    width: -webkit-fill-available;
}
.btn-default{
    color: white;
    background-color: blue;
    opacity: 0.6;
}
.btn-default:hover{
    opacity: 1;
    font-weight: 900;
    color: white;
    background-color: blue;
}